<h2><%= @topic.title %></h2>




<div class="well">
  <div><%= @topic.content %></div>

  <div><%= render_topic_attach(@topic) %></div>


</div>

<div class="pull-right">
  <%= link_to("修改", edit_board_topic_path(@board, @topic), :class => "btn btn-primary") %>
</div>