<%
  add_breadcrumbs(@board.title, board_path(@board))
  add_breadcrumbs(@topic.title)
%>


<h2><%= @topic.title %></h2>

<div><%= @topic.content %></div>


<%= link_to("刪除", board_topic_path(@board, @topic), :method => "delete", :confirm => "確定要刪除嗎?" ) %>